.team-Containers{
   padding-top:100px;

}
.team-content-one{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: fit-content; 
  margin: 0 auto;        
  padding: 20px; 
}

.team-content{
    width: 400px;
  
}
.our-team{
  text-align: center;
  padding: 15px;
  font-size: 70px;
  color: #374f8f;
  font-family: Comfortaa;
  font-weight: 900;
}